@import "../colors.scss";
@import "../mixins.scss";
@import "../typography.scss";
.home {
  .coupon-banner {
    @extend %flex-column-centered;
    padding: 20px;
    background-color: $layoutGreen;
    @media screen and (min-width: 768px) {
      padding-left: 40px;
      flex-direction: row;
      justify-content: start;
    }
    p {
      font-family: $headingFont;
      font-size: 18px;
      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
    }
    button {
      margin-top: 15px;
      @media screen and (min-width: 768px) {
        margin-top: unset;
        margin-left: 20px;
      }
    }
  }
  .teaser {
    @extend %flex-column;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      width: 100%;
    }
    .section-1 {
      @extend %flex-column;
      justify-content: space-around;
      padding: 25px;
      background-color: $layoutBlack;
      @media screen and (min-width: 768px) {
        width: 40%;
        padding: 40px;
      }
      p {
        color: white;
      }
      .header {
        font-family: $headingFont;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.4;
        @media screen and (min-width: 991px) {
          font-size: 34px;
        }
      }
      .subtext {
        padding: 18px 0px;
        font-size: 16px;
        @media screen and (min-width: 991px) {
          font-size: 24px;
        }
      }
      a {
        align-self: center;
      }
      @media screen and (min-width: 991px) {
        button {
          font-size: 18px;
        }
      }
    }
    .section-2 {
      img {
        width: 100%;
        height: 100%;
      }
      @media screen and (min-width: 768px) {
        width: 60%;
      }
      @media screen and (min-width: 991px) {
        display: flex;
        flex-grow: 1;
        min-height: unset;
        min-width: unset;
      }
    }
  }
  .intro {
    @extend %background-topography;
  }
  .new-addition {
    background-color: $layoutWhite;
    p {
      font-weight: bolder;
    }
    .section-1 {
      width: 100%;
      @extend %flex-column;
      justify-content: around;
      @media screen and (min-width: 768px) {
        width: 75%;
        margin: 50px 0px;
      }
    }
    .section-2 {
      display: none;
      @media screen and (min-width: 768px) {
        display: unset;
        align-self: center;
        width: 25%;
        margin-left: 50px;
      }
      img {
        width: 100%;
      }
    }
  }
  .mission {
    background-image: url("../../assets/ourMission.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @media screen and (min-width: 768px) {
      background-attachment: fixed;
      height: 600px;
    }
    p,
    h2,
    svg {
      color: $layoutWhite;
    }
    .layer {
      @extend %flex-centered;
      height: 100%;
      width: 100%;
      background-color: rgba(138, 127, 115, 0.7);
    }
  }
  .emergency {
    background-color: $layoutWhite;
    svg {
      height: 30px;
    }
    .sections {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;
      }
      .section {
        align-self: center;
        padding: 0px 20px;
        max-width: 400px;
        @extend %flex-column;
        align-items: center;
        .primary {
          margin: 20px 0px;
          font-family: $headingFont;
          font-weight: bolder;
          font-size: 18px;
          @media screen and (min-width: 768px) {
            font-size: 24px;
          }
        }
        .secondary {
          @media screen and (min-width: 768px) {
            font-size: 18px;
          }
        }
        p {
          text-align: center;
        }
        .reference {
          margin-top: 15px;
          .name {
            font-family: $headingFont;
            font-size: 16px;
            font-style: italic;
            font-weight: bolder;
            @media screen and (min-width: 768px) {
              font-size: 20px;
            }
          }
          .number {
            font-size: 18px;
          }
          .location {
            font-size: 16px;
          }
        }
      }
    }
  }
  .intro,
  .mission,
  .new-addition {
    p {
      margin-top: 40px;
      font-size: 16px;
    }
  }
  .mission,
  .new-addition {
    a {
      margin-top: 35px;
      align-self: center;
      @media screen and (min-width: 768px) {
        align-self: unset;
      }
    }
    @media screen and (min-width: 768px) {
      button {
        padding: 25px;
        font-size: 22px;
      }
    }
  }
  .content-container {
    @extend %flex-centered;
  }
  .content-block {
    @extend %container;
    @extend %flex-column;
    width: 100%;
    margin: 30px 0px;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between;
    align-self: center;
    @media screen and (min-width: 768px) {
      margin: 100px 40px;
      padding: 25px;
      p {
        font-size: 22px;
      }
    }
    .header {
      @extend %flex-row-aligned;
      margin: 0px;
      font-family: $headingFont;
      font-weight: bold;
      line-height: 1.3;
      @media screen and (min-width: 768px) {
        font-size: 35px;
      }
      svg {
        margin-right: 15px;
        height: 30px;
      }
    }
  }
  .carousel.slide,
  .carousel-item,
  .carousel-inner {
    width: 100%;
    height: 100%;
  }
}

.coupon {
  .header {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    line-height: 1.3;
  }
  .details {
    font-size: 16px;
    margin: 20px 0px;
  }
  .code {
    margin: 20px 0px;
    padding: 10px;
    width: 100%;
    background-color: $layoutGreen;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 3px $layoutBlack;
    border-style: dashed;
    border-radius: 15px;
  }
}